<h3>Enter a Word Here</h3>

<form action="/get_word" method="post">
  <label for="input">New Word:</label>
  <input id="input" name="input" type="text">
  <button type="submit">Add Word!</button>
</form>
