<h1>Your Dictionary</h1>

<ul>
  <% @new_word.each() do |entry| %>
  <li><strong><%= entry.define() %></strong></li>
  <% end %>
  <ul>
  <% @meaning.each() do |new_definition|%>
  <%= new_definition.show() %>
  <% end %>
  </ul>
  <br>
<a href = "/wordform"> Click here to enter a new word</a>
