<h1>Your Dictionary</h1>

<ul>
  <% @new_word.each() do |entry| %>
  <li><%= entry.define() %></li>
  <% end %>
  <% @meaning.each() do |new_definition|%>
  <%= new_definition.show() %>
  <% end %>
</ul>


<a href = "/wordform"> Click here to enter a new word</a>
